@model PastUpcomingEventsDTO
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Past Events</h2>
            <hr />
            <table class="table-striped table-bordered" style="width:50%">
                <tbody>
                    @foreach (var eve in Model.PastEvents)
                    {
                        <tr>
                            <td><a asp-controller="Event" asp-action="ViewHome" asp-route-id="@eve.Id">@eve.Title</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>Upcoming Events</h2>
            <hr />
            <table class="table-striped table-bordered" style="width:50%">
                <tbody>
                    @foreach (var eve in Model.UpcomingEvents)
                    {
                        <tr>
                            <td><a asp-controller="Event" asp-action="ViewHome" asp-route-id="@eve.Id">@eve.Title</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
